AI_API_KEY = "your-api-key"
AI_MODEL = "openai/gpt-oss-20b"
AI_BASE_URL = "https://api.groq.com/openai/v1"

DATABASE_URL="postgresql+asyncpg://postgres:postgres@db/files_db"
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="postgres"
POSTGRES_DB="files_db"