<div class="folder-wrapper">
  <div class="folder">
    <div class="folder-peek">
      <p>{{ previewText }}</p>
    </div>

    <svg viewBox="0 0 100 80" xmlns="http://www.w3.org/2000/svg">
      <path d="M5 10h30l10 10h50a5 5 0 015 5v50a5 5 0 01-5 5H5a5 5 0 01-5-5V15a5 5 0 015-5z" fill="#D98A1C"/>
      <path d="M0 30h100l-5 45a5 5 0 01-5 5H10a5 5 0 01-5-5L0 30z" fill="#F5A623"/>
      <path d="M0 30h100v3H0z" fill="#FFC059" opacity="0.6"/>
    </svg>
  </div>

  <span class="folder-label">{{ label }}</span>
</div>